<%- include('../partials/header') %>

<div class='flex-container' id='back-btn'>
    <a href="/<%=group.name%>/games">Back to Games</a>
</div>

<div class='flex-container'>
    <h4><%=gameName%></h4>
</div>

<div class="flex-container">
    <form action="/polls/<%=group.name%>/<%=gameName%>" method="POST">
        <label for="gameDate">New Poll:</label>
        <input id="poll-input" type="datetime-local" name="gameDate" value="">
        <button class='btn' type="submit">Submit</button>
    </form>
</div>
<br>
<div class='flex-container' id='poll-container'>
    <form action="">
        <label for="voteCount">Votes Needed to Complete Poll:</label>
        <input id="vote-input" type="number" name="voteCount">
        <button class='btn' type="submit">Submit</button>
    </form>
</div>
<br>
<div class='flex-container'>
    <h6>Pending Polls:</h6>
</div>
<div class='flex-container' id='poll-container'>
    <% pendingPolls.forEach((poll, idx) => { %>
    <div class="cards">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <form action="/polls/<%=group.name%>/<%=gameName%>?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value='<%=poll._id%>'>
                    <button class='btn delete-btn' id='delete-btn' type="submit">X</button>
                </form>
                <div class="card-content white-text">
                    <span class="card-title"><small>Option #<span><%=idx + 1%></span></small></span></span>
                    <% let date = new Date(poll.gameDate) %>
                    <% let day = date.getDay() %>
                    <% const week = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'] %>
                    <% date.setMinutes(date.getMinutes() - date.getTimezoneOffset()) %>
                    <% const dateString = `${week[day]}, ${date.getMonth() + 1}/${date.getDay()}/${date.getFullYear().toString().substring(2)} ${date.toISOString().slice(10,16)}` %>
                    <p><%=dateString%></p>
                </div>

                <div class="card-action">
                    <div class='flex-container'>
                        <form action="/polls/<%=group.name%>/<%=gameName%>/vote" method="POST" id='vote-form'>
                            <input type="hidden" name="id" value='<%=poll._id%>'>
                            <input type="hidden" name="vote" value="voteYes">
                            <button class="btn vote-button" type='submit'>Yes:
                                <span><%=poll.voteYes.length%></span></button>
                        </form>
                        <form action="/polls/<%=group.name%>/<%=gameName%>/vote" method="POST">
                            <input type="hidden" name="id" value='<%=poll._id%>'>
                            <input type="hidden" name="vote" value="voteNo">
                            <button class="btn vote-button" type='submit'>No:
                                <span><%=poll.voteNo.length%></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<div class='flex-container' id='poll-container'>
    <h6>Completed Polls:</h6>
</div>
<div class='flex-container' id='poll-container'>
    <% completedPolls.forEach((poll, idx) => { %>
    <div class="cards">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <form action="/polls/<%=group.name%>/<%=gameName%>?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value='<%=poll._id%>'>
                    <button class='btn delete-btn' id='delete-btn' type="submit">X</button>
                </form>
                <div <%- poll.status === 'completed' ? "class='green'" : " "%> class="card-content white-text">
                    <span class="card-title"><small>Completed: </small></span></span>
                    <% let date = new Date(poll.gameDate) %>
                    <% let day = date.getDay() %>
                    <% const week = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'] %>
                    <% date.setMinutes(date.getMinutes() - date.getTimezoneOffset()) %>
                    <% const dateString = `${week[day]}, ${date.getMonth() + 1}/${date.getDay()}/${date.getFullYear().toString().substring(2)} ${date.toISOString().slice(10,16)}` %>
                    <p><%=dateString%></p>
                </div>

                <div class="card-action">
                    <div class='flex-container'>
                        <form action="/polls/<%=group.name%>/<%=gameName%>/vote" method="POST" id='vote-form'>
                            <input type="hidden" name="id" value='<%=poll._id%>'>
                            <input type="hidden" name="vote" value="voteYes">
                            <button class="btn vote-button" type='submit'>Yes:
                                <span><%=poll.voteYes.length%></span></button>
                        </form>
                        <form action="/polls/<%=group.name%>/<%=gameName%>/vote" method="POST">
                            <input type="hidden" name="id" value='<%=poll._id%>'>
                            <input type="hidden" name="vote" value="voteNo">
                            <button class="btn vote-button" type='submit'>No:
                                <span><%=poll.voteNo.length%></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<div class='flex-container' id='poll-container'>
    <h6>Voted Down:</h6>
</div>
<div class='flex-container' id='poll-container'>
    <% finishedPolls.forEach((poll, idx) => { %>
    <div class="cards">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <form action="/polls/<%=group.name%>/<%=gameName%>?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value='<%=poll._id%>'>
                    <button class='btn delete-btn' id='delete-btn' type="submit">X</button>
                </form>
                <div <%- poll.status === 'finished' ? "class='red'" : " "%> class="card-content white-text">
                    <span class="card-title"><small>Completed:</small></span></span>
                    <% let date = new Date(poll.gameDate) %>
                    <% let day = date.getDay() %>
                    <% const week = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'] %>
                    <% date.setMinutes(date.getMinutes() - date.getTimezoneOffset()) %>
                    <% const dateString = `${week[day]}, ${date.getMonth() + 1}/${date.getDay()}/${date.getFullYear().toString().substring(2)} ${date.toISOString().slice(10,16)}` %>
                    <p><%=dateString%></p>
                </div>

                <div class="card-action">
                    <div class='flex-container'>
                        <form action="/polls/<%=group.name%>/<%=gameName%>/vote" method="POST" id='vote-form'>
                            <input type="hidden" name="id" value='<%=poll._id%>'>
                            <input type="hidden" name="vote" value="voteYes">
                            <button class="btn vote-button" type='submit'>Yes:
                                <span><%=poll.voteYes.length%></span></button>
                        </form>
                        <form action="/polls/<%=group.name%>/<%=gameName%>/vote" method="POST">
                            <input type="hidden" name="id" value='<%=poll._id%>'>
                            <input type="hidden" name="vote" value="voteNo">
                            <button class="btn vote-button" type='submit'>No:
                                <span><%=poll.voteNo.length%></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>

</body>

</html>