<%- include('../partials/header') %>

<div class='flex-container' id='back-btn'>
    <a href="/groups">Back to Groups</a>
</div>

<div class="flex-container">
    <h4><%=group.name%>'s Games!</h3>
</div>
<br>
<div class="flex-container">
    <form action="/<%=group.name%>/games" method="POST">
        <label for="name">Create New Game:</label>
        <input type="text" name="gameName" placeholder="Name of Game">
        <button class='btn' type="submit">Submit</button>
    </form>
</div>
<br>
<div class='flex-container'>
    <% if (games.length) { %>
    <h6>Your Games:</h6>
    <% } else { %>
    <h6>Create New Game!</h6>
    <% } %>
</div>
<div class='flex-container' id="game-container">
    <ul>
        <% games.forEach(game => { %>
            <li id='game-btn'>
                <div class="cards">
                    <div class="col s12 m6">
                      <div class="card blue-grey darken-1">
                        <form action="/<%=group.name%>/games?_method=DELETE" method="POST">
                            <input type="hidden" name="gameName" value="<%=game.gameName%>">
                            <button class='btn delete-btn' type="submit">X</button>
                        </form>
                        <div class="card-content white-text">
                          <span class="card-title"><h5><small>Enter: </small> </h5><a id="game-link" href="/polls/<%=group.name%>/<%=game.gameName%>"><%=game.gameName%></a></span>
                        </div>
                        <div class="card-action">
                            <form action="/<%=group.name%>/games?_method=PUT" method="POST">
                                <input type="hidden" name="currentName" value="<%=game.gameName%>">
                                <label for="gameName">Update Name: </label>
                                <input type="text" name="gameName">
                                <button class='btn' type="submit">Submit</button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
        <% }) %>
    </ul>
</div>

</body>

</html>